
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Yazar Ajax İşlemleri</h1>
<br />

<button type="button" id="btngetlist" class="btn btn-outline-primary"> Statik Yazar Listesi </button>
<br />
<br />
<input type="text" id="id" placeholder="Yazar Id Değerenii girin"/>
<button type="button" id="btngetlistdb" class="btn btn-outline-secondary"> Veritabanından ID si seçilen Yazar  </button>
<br />
<div id="writerlist">
    Buraya yazarlar gelecek.
</div>

<br />
<br />
<div>
    <input type="text" class="form-control" id="WriterName" placeholder="Yazar Name" />
    <br />
    <input type="text" class="form-control" id="WriterMail" placeholder="Yazar Mail" />
    <br />
    <input type="text" class="form-control" id="WriterAbout" placeholder="Yazar Hakkında" />
    <br />
    <input type="text" class="form-control" id="WriterImage" placeholder="Yazar Resmi" />
    <br />
    <input type="text" class="form-control" id="WriterPassword" placeholder="Yazar Şifresi" />
    <br />
    <input type="text" class="form-control" id="WriterStatus" placeholder="Yazar Durumu" />


    <button type="button" id="btnaddwriter" class="btn btn-outline-info"> Yazar Ekle  </button>
</div>
<br />
<br />

<div>
    <input type="text" class="form-control" id="SilinecekYazarId" placeholder="Yazar ID" />
    <br />
    <button type="button" id="btndeletwriter" class="btn btn-outline-info"> Yazar SİL </button>
</div>

<br />
<br />
<br />
<div>
    <input type="text" class="form-control" id="WriterIDGuncelle" placeholder="Yazar ID" />
    <br />
    <input type="text" class="form-control" id="WriterNameGuncelle" placeholder="Yazar Name" />
    <br />
    <input type="text" class="form-control" id="WriterMailGuncelle" placeholder="Yazar Mail" />
    <br />
    <input type="text" class="form-control" id="WriterAboutGuncelle" placeholder="Yazar Hakkında" />
    <br />
    <input type="text" class="form-control" id="WriterImageGuncelle" placeholder="Yazar Resmi" />
    <br />
    <input type="text" class="form-control" id="WriterPasswordGuncelle" placeholder="Yazar Şifresi" />
    <br />
    <input type="text" class="form-control" id="WriterStatusGuncelle" placeholder="Yazar Durumu" />


    <button type="button" id="btnupdatewriter" class="btn btn-outline-info"> Güncelle  </button>
</div>

@section scripts{ 
<script>
    $("#btngetlist").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Admin/Writer/WriterList",
            success: function (func) {
                let w = jQuery.parseJSON(func);
                console.log(w);
                let tablehtml = "<table class=table table-bordered> <tr><th>Yazar ID </th> <th>Yazar Adı </th></tr>";
                $.each(w, (index, value) => {
                    tablehtml += `<tr><td>${value.Id}</td> <td>${value.Name}</td></tr>`
                });
                tablehtml += "</table>";
                $("#writerlist").html(tablehtml);
            }
        });

    });
</script>

<script>
    $("#btngetlistdb").click(x => {
        let id = $("#id").val();
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "get",
            url: "/Admin/Writer/GetWriterById",
            data: { id: id },
            success: function (func) {
                let w = jQuery.parseJSON(func);
                console.log(w);
                let getvalue = `<table class=table table-bordered> <tr><th>Yazar ID </th> <th>Yazar Adı </th></tr> <tr> <td>${w.WriterID}</td> <td>${w.WriterName}</td></tr></table>`;
                $("#writerlist").html(getvalue);

            }
        });

    });
</script>

<script>
    $("#btnaddwriter").click(function () {
        let writer = {
            WriterName: $("#WriterName").val(),
            WriterMail: $("#WriterMail").val(),
            WriterAbout: $("#WriterAbout").val(),
            WriterImage: $("#WriterImage").val(),
            WriterPassword: $("#WriterPassword").val(),
            WriterStatus: $("#WriterStatus").val()
        };

        $.ajax({
            type: "post",
            url: "/Admin/Writer/AddWriter",
            data: writer,
            success: function (func) {
                let result = jQuery.parseJSON(func);
                alert("Yazar ekleme işlemi başarılı bir şekilde gerçekleşti");
            }
        });
    });
</script>

<script>
    $("#btndeletwriter").click(function () {
        let writer = {
            WriterID: $("#SilinecekYazarId").val(),
        };

        $.ajax({
            type: "post",
            url: "/Admin/Writer/DeleteWriter",
            data: writer,
            success: function (func) {
                let result = jQuery.parseJSON(func);
                alert("Yazar silme işlemi başarılı bir şekilde gerçekleşti");
            }
        });
    });
</script>

<script>
    $("#btnupdatewriter").click(function () {
        let writer = {
            WriterID: $("#WriterIDGuncelle").val(),
            WriterName: $("#WriterNameGuncelle").val(),
            WriterMail: $("#WriterMailGuncelle").val(),
            WriterAbout: $("#WriterAboutGuncelle").val(),
            WriterImage: $("#WriterImageGuncelle").val(),
            WriterPassword: $("#WriterPasswordGuncelle").val(),
            WriterStatus: $("#WriterStatusGuncelle").val()
        };

        $.ajax({
            type: "post",
            url: "/Admin/Writer/UpdateWriter",
            data: writer,
            success: function (func) {
                let result = jQuery.parseJSON(func);
                alert("Yazar güncelleme işlemi başarılı bir şekilde gerçekleşti");
            }
        });
    });
</script>
}



