<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<div class="comment-top">
    <h4>Bir yorum yapın</h4>
    <div class="comment-bottom">
        <form method="post">
            <input class="form-control" type="text" id="txtCommentUserName" name="CommentUserName" placeholder="Adınız Soyadınız" required="">
            <input class="form-control" type="text"  id="txtCommentTitle" name="CommentTitle" placeholder="Başlık" required="">

            <textarea class="form-control" name="CommentContent" placeholder="Yorumunuz..." required=""></textarea>
            <button id="btn" type="submit" class="btn btn-primary submit">Yorum Yappp</button>
        </form>
    </div>
</div>
<script type="text/javascript">
    $("#btn").click(function () {
        let values = {
            CommentUserName: $("#txtCommentUserName").val(),
            CommentTitle: $("#txtCommentTitle").val()
        };
        $.ajax({
            type: "post",
            url: "/Comment/PartialAddComment/",
            data: values,
            success: function (func) {
                let result = jQuery.parseJSON(func);
            }
        });
    });
</script>