
<div class="tech-btm">
    
    <p> Paylaşılan tüm bloglardan mail alın</p>
    <form asp-action="SubscribeMail"  asp-controller="NewsLetter" method="post">
        <input type="email" placeholder="Email Adresinizi girin." required="" name="Mail">
        <input type="submit" value="Abone OL">
    </form>

</div>